<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as200.bsbd.sys.mapper.RoomMapper">
    <select id="getRoomInfo" resultType="map">
        select
            @open_room := count(distinct room_id)'oroom',
	(SELECT COUNT(room_id) from x_room) - @open_room'eroom'
        from
            x_customer_room AS a
        where
            a.end_date > CURDATE()
    </select>
    <select id="getOrderFormID" resultType="Integer">
        SELECT xo.id
        FROM x_orderfrom xo
                 INNER JOIN x_customer_room xcr ON xo.order_number = xcr.id
                 INNER JOIN x_room xr ON xcr.room_id = xr.room_id
        WHERE xr.room_id = #{roomId}
    </select>
    <select id="getCustomerRoomId" resultType="Integer">
        SELECT xcr.id
        FROM x_customer_room xcr
                 INNER JOIN x_room xr ON xcr.room_id = xr.room_id
        WHERE xr.room_id = #{roomId}
    </select>
</mapper>
